h1 {
    margin: 0;
    padding: 10px;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../images/landingImage.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
}

.enterButton {
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 18%;
}

.enterButton span {
    position: relative;
    transition: 0.5s;
}

.enterButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.enterButton:hover span {
    padding-right: 25px;
}

.enterButton:hover span:after {
    opacity: 1;
    right: 0;
}


.title {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 50px;
}